{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": ["eslint:recommended", "prettier"],
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "no-unused-vars": ["warn", { "args": "none" }],
    "require-jsdoc": "off",
    "quotes": ["error", "single"]
  },
  "overrides": [
    {
      "files": ["*.test.js"],
      "extends": ["plugin:jest/recommended"],
      "rules": {
        "jest/valid-title": "off"
      }
    }
  ]
}
